.hexagon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hexagon-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.hexagon {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}

.grey {
    background-color: #f7f7f7;
}

.yellow {
    background-color: #ffff00;
}

#find-solutions {
    margin-top: 20px;
}

#solutions {
    margin-top: 20px;
}